/* .navbar-brand1{
padding-top: 60px;
max-width: 17.25rem;
padding:2rem  !important;
height: 6rem !important;
margin-right: 0rem;
margin-left: 40rem;
border-top:0.1875 solid var( --primary-dark);
align-items:center;
text-transform: uppercase;
font-weight: normal;
} */

#footer{
    margin-top: 5rem;
  }
 
  #footerContainer {
   width: 100%;
 }
 
 .footer-subscription-text {
   margin-bottom: 24px;
   font-size: 20px;
 }
 
 .footer-input {
   padding: 8px 20px;
   border-radius: 2px;
   margin-right: 10px;
   outline: none;
   border: none;
   font-size: 18px;
   margin-bottom: 16px;
   /* border: 1px solid #fff; */
 }
 
 .footer-links {
   width: 50vw;
   display: flex;
   justify-content: center;
   margin-top: 0rem;
 }
 
 .footer-link-wrapper {
   display: flex;
   
 }
 
 .card-title {
   font-size: 25px;
   color:rgba(0, 0, 0, 0.719);
 }
 
 .footer-link-items {
    margin: 5px; 
   text-align: left;
   width: 160px;
   box-sizing: border-box;
   margin-top: 1rem;
   font-size: 21px;
 }
 
 .footer-link-items h2 {
   margin-bottom: 16px;
 }
 
 .footer-link-items > h2 {
   color: black;
 }
 
 .footer-link-items a {
   color: black;
   text-decoration: none;
   margin-bottom: 0.5rem;
 }
 
 .footer-link-items a:hover {
   color: blue;
   transition: 0.3s ease-out;
 }
 
 .footer-email-form h2 {
   margin-bottom: 2rem;
 }
 
 .footer-input::placeholder {
   color: black;
 }
 
 /* Social Icons */
 .social-icon-link {
   color:black;
   font-size: 24px;
 }
 
 .social-media {
   max-width: 1000px;
   width: 100%;
 }
 
 .social-media-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   max-width: 1000px;
   margin: 40px auto 0 auto;
 }
 
 .social-icons {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 240px;
   margin-left:10rem;
 }
 
 .social-logo {
   color: black;
   justify-self: start;
   margin-left: 20px;
   cursor: pointer;
   text-decoration: none;
   font-size: 2rem;
   display: flex;
   align-items: center;
   margin-bottom: 16px;
 }
 
 .website-rights {
   color:black;
   font-size: 18px;
 }
